# -----------------------------
# Terraform
# -----------------------------
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan
plan.json

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# -----------------------------
# MiniStack
# -----------------------------
.localstack/

# -----------------------------
# Go
# -----------------------------
bin/
coverage.out

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# Linux
# -----------------------------
*~

# -----------------------------
# Logs
# -----------------------------
*.log